/*****************************/
/* GLOBAL STYLES */
/*****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #000;
    line-height: 1.5;
}

.container {
    max-width: 155.4rem;
    margin: 0 auto;
}

.grid--3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
