/*****************************/
/* HEADER / NAVIGATION */
/*****************************/

.logo {
    height: 3rem;
}

.main-nav {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 4.8rem;
    width: 100vw;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    padding: 1rem 1.8rem;
    border-radius: 6px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-list li:nth-child(3):hover {
    background-color: #222;
    transition: all 0.3s;
}

.main-nav-list li:nth-child(3) {
    display: flex;
    align-items: center;

    padding: 0 0 0 1.8rem;
    border-radius: 6px;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 0.9rem 2.4rem;
    border-radius: 6px;

    color: #26282D;
    background-color: #fff;
    border: 1px solid #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    color: #26282D;
    background-color: #bbb;
    transition: all 0.3s;
}

ion-icon {
    font-size: 2rem;
    color: #fff;
}

/*****************************/
/* SECTION HOME */
/*****************************/
.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(170deg, #222, #000 90%);
}

.header-content {
    grid-column: 1 / 2;
    margin-top: 28rem;
    margin-left: 30rem;
}

.header-title {
    font-size: 10.8rem;
    margin-bottom: 2rem;
    letter-spacing: 3.75px;
    line-height: 1.2;
    
    background-image: radial-gradient(circle at 30% 85%,#facdab 0,#a46a51 35%,#784d3b 55%);
    -webkit-background-clip: text;
    color: transparent;
}

.header-description {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 6px;
    border: 1px solid #fff;
    font-weight: 600;

    background-color: #fff;
    color: #26282D;

    padding: 1.6rem 4.8rem;
    margin-bottom: 1rem;
}

.btn:hover,
.btn:active {
    color: #26282D;
    background-color: #bbb;
    transition: all 0.3s;
}

.obs {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

.image {
    grid-column: 2 / -1;

    background-image: url(/img/playlist-music-background.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 55vw;
    height: 100vh;
}

.gradient {
    background: linear-gradient(180deg,transparent 0,#000);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
}