/*****************************/
/* HEADER / NAVIGATION */
/*****************************/
.heading-logo {
    height: 7rem;
}

.main-nav {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 8rem 1.2rem 4.8rem;
    width: 100vw;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    padding: 1rem 1.8rem;
    border-radius: 6px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-list li:nth-child(3):hover {
    background-color: #222;
    transition: all 0.3s;
}

.main-nav-list li:nth-child(3) {
    display: flex;
    align-items: center;

    padding: 0 0 0 1.8rem;
    border-radius: 6px;
}

.btn.nav-cta:link,
.btn.nav-cta:visited {
    padding: 0.9rem 2.4rem;
}

.person-icon {
    font-size: 2rem;
    color: #fff;
}


/*****************************/
/* SECTION HOME */
/*****************************/
.section-home {
    place-items: center;
    background: linear-gradient(170deg, #222, #000 90%);
}

.header-content {
    grid-column: 1 / 2;
    margin-top: 28rem;
    margin-left: 30rem;
}

.header-title {
    font-size: 10.8rem;
    margin-bottom: 2rem;
    letter-spacing: 3.75px;
    line-height: 1.1;
    
    background-image: radial-gradient(circle at 30% 85%,#da7c3d 0,#933b88 35%,#443cac 55%);
    -webkit-background-clip: text;
    color: transparent;
}

.header-description {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

.btn.btn-extra:link,
.btn.btn-extra:visited {
    padding: 1.3rem 4.8rem;
    margin-bottom: 1rem;
}

.obs {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

.image {
    grid-column: 2 / -1;

    background-image: url(/img/playlist-music-background.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 55vw;
    height: 100vh;
}

.gradient {
    background: linear-gradient(180deg,transparent 0,#000);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
}


/*****************************/
/* SECTION FEATURE */
/*****************************/
.section-feature {
    column-gap: 20px;
    padding: 9.6rem 0;
}

.card-background {
    border-radius: 9px;
    position: relative;
}

.card-background::after {
    content: "";
    border-radius: 9px;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
}

.songs {
    background-color: #ad183c;
    opacity: 0.9;
}

.songs:hover {
    opacity: 1;
    box-shadow: 0 10px 30px 10px rgba(255, 110, 85,  0.2);
    transition: all 0.3s;
}

.songs::after {
    background: linear-gradient(180deg, rgba(82, 4, 4, 0.1) 38%,#730404 68%);
}

.playlists {
    background-color: #a30953;
    opacity: 0.9;
}

.playlists:hover {
    opacity: 1;
    box-shadow: 0 10px 30px 10px rgba(200, 10, 220, 0.2);
    transition: all 0.3s;
}

.playlists::after {
    background: linear-gradient(180deg,rgba(133, 12, 128, 0.1) 38%,#670d76 68%);
}

.hifi {
    background-color: #ad631e;
    opacity: 0.9;
}

.hifi:hover {
    opacity: 1;
    box-shadow: 0 10px 30px 10px rgba(173, 99, 30, 0.2);
    transition: all 0.3s;
}

.hifi::after {
    background: linear-gradient(180deg,rgba(138, 58, 13, 0.1) 38%,#7d260b 68%);
}

.card {
    padding: 4.8rem 3.2rem;
}

.card img {
    min-width: 100%;
    max-height: 450px;
    padding: 0 6.4rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.card-title {
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-description {
    color: #eee;
    font-weight: 400;
    font-size: 1.8rem;
}


/*****************************/
/* SECTION ANIMATION */
/*****************************/
.section-animation {
    padding: 9.6rem 0;
}

.header-secondary {
    margin: 0 auto;
    margin-bottom: 16rem;
    text-align: center;
}

.header-secondary h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
    color: #fff;
}

.header-secondary p {
    font-size: 1.6rem;
    color: #fff;
}

.section-animation .animation-cards {
    display: grid;
    column-gap: 60px;
}

.animation-card {
    height: 570px;
    position: relative;
    padding: 4rem;
}

.animation-card::after {
    content: "";
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(120,119,127,.025) 33%, rgba(120,119,127,.2));
    position: absolute;
    top: 0;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .25s ease;
}

.animation-card:hover::after {
    opacity: 1;
}

.sound-bar {
    margin-bottom: 6.4rem;
}

.animation-card-content {
    position: relative;
}

.border-right::after {
    content: "";
    background: hsla(0,0%,52.5%,.5);
    background: linear-gradient(180deg, hsla(0,0%,52.5%,0), hsla(0,0%,52.5%,.4), hsla(0,0%,52.5%,0));
    position: absolute;
    bottom: 0;
    right: -7rem;
    height: 100%;
    width: 1px;
}

.animation-card-content h2 {
    font-size: 4rem;
    margin-bottom: 1.2rem;
    color: #fff;
}

.animation-card-content p {
    font-size: 1.6rem;
    color: #Fff;
}

.all-sound-descriptions {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
}

.sound-description small:first-child {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sound-description small:nth-child(2) {
    font-size: 1.2rem;
    color: #fff;
}

.sound-description small:nth-child(3) {
    font-size: 1.2rem;
    color: #fff;
    opacity: 0.5;
}

.normal-type small:first-child {
    background-color: #393940;
    color: #fff;
}

.hifi-type small:first-child {
    background-color: #07332f;
    color: #21feec;
}

.master-type small:first-child {
    background-color: #332619;
    color: #edb074;
}


/*****************************/
/* SECTION SUBSCRIPTION */
/*****************************/
.section-subscription {
    padding: 9.6rem 0 12.8rem 0;
}

.heading-large h2 {
    color: #fff;
    font-size: 4.8rem;
    text-align: center;

    margin-bottom: 8rem;
}

.cards-subscription {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-subscription {
    display: flex;
    flex-direction: column;
    max-width: 459px;
    padding: 2rem 6rem;
    border-radius: 20px;
}

.hifi-subscription {
    color: #11413e;
    background: linear-gradient(.32deg,rgba(26,139,133,.98) .2%,rgba(96,212,206,.98) 99.7%);
    opacity: 0.9;
}

.hifi-subscription:hover {
    background: linear-gradient(.32deg,rgba(26,139,133,.98) .2%,rgba(96,212,206,.98) 99.7%);
    transition: all 0.3s;
    opacity: 1;
}

.hifi-plus-subscription {
    color: #46160b;
    background: linear-gradient(180deg,#ffb972 2.6%,#eb720e);
    opacity: 0.9;
}

.hifi-plus-subscription:hover {
    background: linear-gradient(180deg,#ffb972 2.6%,#eb720e);
    transition: all 0.3s;
    opacity: 1;
}

.plan-name {
    font-size: 4rem;
    font-weight: 700;
} 

.plan-text {
    font-size: 2.2rem;
    font-weight: 600;

    min-height: 6.75rem;
    margin-bottom: 2.4rem;
}

.list-container {
    padding: 3rem;
    border-radius: 20px;
    background: linear-gradient(180deg, hsla(0,0%,98.8%,.3), hsla(0,0%,98.8%,.15)), hsla(0,0%,98.8%, .05);

    margin-right: -1.75rem;
    margin-left: -1.75rem;
}

.list-style-custom {
    list-style: none;
}

.list-item {
    margin-bottom: 2.8rem;
}

.hifi-subscription .list-item .checkmark-icon {
    font-size: 1.6rem;
    font-weight: 700;
    color: #11413e;
}

.hifi-plus-subscription .list-item .checkmark-icon {
    font-size: 1.6rem;
    font-weight: 700;
    color: #46160b;
}

.list-item span {
    font-size: 1.8rem;
    font-weight: 700;
}

.list-item small {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;

    margin-left: 2.6rem;
    margin-top: 0.3rem;
}

.list-item .font-weight-normal {
    font-weight: 400;
}

.plan-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: auto;
    margin-right: -1.75rem;
    margin-left: -1.75rem;
    padding-top: 7rem;
}

.plan-price {
    align-text: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;

    margin-bottom: 1.6rem;
}

.btn.btn-card:link,
.btn.btn-card:visited {
    border-radius: 10px;
    padding: 1.5rem 12rem;
    opacity: 0.9;
}

.btn.btn-card:hover,
.btn.btn-card:active {
    background-color: #fff;
    color: #26282D;
    opacity: 1;
    transition: all 0.3s;
}


/*****************************/
/* SECTION FAQ */
/*****************************/
.section-faq--bg {
    background-color: #141417;
}

.faq {
    padding: 12.8rem 9.6rem;
}

.faq-title {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 8rem;
    font-weight: 700;

    color: #fff;
}

.faq-questions {
    display: grid;
    column-gap: 60px;
}

.faq-question h3 {
    font-size: rem;
    font-size: 3rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
    
    color: #fff;
}

.faq-question p {
    font-size: 1.8rem;
    color: #fff;
}

.faq-question a {
    color: #fff;
}


/*****************************/
/* FOOTER */
/*****************************/
.footer-bg {
    background-color: #101012;
    color: #fff;
}

.footer {
    padding: 12.8rem 9.6rem;
}

.grid--footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.footer-heading {
    display: inline-block;
    font-size: 1.8rem;
    opacity: 0.7;

    margin-bottom: 2.7rem;
}

.address {
    font-size: 1.6rem;
    opacity: 0.7;

    margin-bottom: 2.7rem;
}

.footer-link {
    display: block;
    font-size: 1.6rem;
    list-style: none;

    margin-bottom: 2.7rem;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.footer-link a:hover {
    color: #00ffff;
    border-color: #00ffff;
    padding-bottom: 2px;
    transition: border-color .25s ease-in;
}

.btn-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devices {
    display: block;
    max-width: 300px;
    margin-bottom: 2.8rem;
}

.btn.btn-outline:link,
.btn.btn-outline:visited {
    background-color: #101012;
    color: #00ffff;
    border: 1px solid #00ffff;
    padding: 1.2rem 10rem; 
}

.btn.btn-outline:hover,
.btn.btn-outline:active {
    background-color: #003333;
    color: #00ffff;
    transition: all 0.3s;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.4rem 9.6rem 9.6rem 7.6rem;
    border-top: 1px solid hsla(0,0%,100%,.1);
}

.footer-logo {
    height: 5rem;
    margin-top: 1.1rem;
}

.copyright {
    opacity: 0.7;
    font-size: 1.4rem;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    list-style: none;
}

.social-icon {
    color: #fff;
    font-size: 2.4rem;
    opacity: 0.7;
}

.social-icon:hover {
    opacity: 1;
    transition: all 0.3s;
}